@font-face {
  font-family: "SF UI Display Regular";
  src: url("../fonts/sf_ui_display_regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/sf_ui_display_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sf_ui_display_regular.woff2") format("woff2"), url("../fonts/sf_ui_display_regular.woff") format("woff"), url("../fonts/sf_ui_display_regular.ttf") format("truetype"), url("../fonts/sf_ui_display_regular.svg#sf_ui_display_regular") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "SF UI Display Semibold";
  src: url("../fonts/sf_ui_display_semibold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/sf_ui_display_semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/sf_ui_display_semibold.woff2") format("woff2"), url("../fonts/sf_ui_display_semibold.woff") format("woff"), url("../fonts/sf_ui_display_semibold.ttf") format("truetype"), url("../fonts/sf_ui_display_semibold.svg#sf_ui_display_semibold") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "SF UI Display Bold";
  src: url("../fonts/sf_ui_display_bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/sf_ui_display_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sf_ui_display_bold.woff2") format("woff2"), url("../fonts/sf_ui_display_bold.woff") format("woff"), url("../fonts/sf_ui_display_bold.ttf") format("truetype"), url("../fonts/sf_ui_display_bold.svg#sf_ui_display_bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "SF UI Display Medium";
  src: url("../fonts/sf_ui_display_medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/sf_ui_display_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/sf_ui_display_medium.woff2") format("woff2"), url("../fonts/sf_ui_display_medium.woff") format("woff"), url("../fonts/sf_ui_display_medium.ttf") format("truetype"), url("../fonts/sf_ui_display_medium.svg#sf_ui_display_medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  height: 100%;
}

.page__body {
  font-family: "SF UI Display Regular", sans-serif;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header {
  background: #fff;
  z-index: 3;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: -1;
}

.header .burger {
  display: none;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #a02521;
  margin-bottom: 15px;
  padding: 10px;
}

.header .burger span {
  display: block;
  height: 1px;
  background: #fff;
  position: relative;
}

.header .burger span::before, .header .burger span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: inherit;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .burger span::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.header .burger span::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.header .burger.open span {
  height: 0;
}

.header .burger.open span::before, .header .burger.open span::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header .burger.open span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .burger.open span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1000px) {
  .header .burger {
    display: block;
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 23px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 27px 0 23px;
}

.header__logo {
  max-width: 211px;
}

.header__logo img {
  max-width: 100%;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.contacts-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-column-gap: 6px;
          column-gap: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #3d3d3d;
}

.contacts-header__item a {
  color: inherit;
  text-decoration: none;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 10px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}

.menu ul li {
  display: block;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  color: #3d3d3d;
  position: relative;
  font-family: "SF UI Display Semibold";
}

.menu ul li a {
  display: block;
  padding: 15px 10px 13px;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
}

.menu ul li a:hover, .menu ul li a-active {
  border-bottom: 2px solid #14ae64;
}

.menu_top {
  width: 100%;
  background: #fff;
}

@media (max-width: 1000px) {
  .menu_top {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .menu_top .container {
    padding: 0;
  }
  .menu_top ul {
    border-top: solid 1px #eee;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    row-gap: 1px;
  }
  .menu_top ul li {
    background: #eee;
  }
}

.menu_top.open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.menu_bottom {
  margin-bottom: 82px;
}

@media (max-width: 1000px) {
  .menu_bottom ul {
    border-top: solid 1px #eee;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    row-gap: 1px;
  }
  .menu_bottom ul li {
    background: #eee;
  }
}

.swiper {
  background: #eee;
  height: 700px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

.swiper-slide__img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.swiper-slide__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.swiper-button-prev,
.swiper-button-next {
  width: 58px !important;
  height: 58px !important;
}

:root {
  --swiper-navigation-size: 20px !important;
  --swiper-theme-color: #fff !important;
}

.offer-top {
  max-width: 911px;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #fff;
}

.offer-top__title {
  font-family: "SF UI Display Bold";
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 24px;
}

@media (max-width: 1100px) {
  .offer-top__title {
    font-size: 38px;
  }
}

.offer-top__subtitle {
  display: inline-block;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 35px;
  max-width: 622px;
}

.main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  z-index: 1;
}

.offer {
  padding: 86px 0;
  color: #fff;
  overflow: hidden;
}

.offer__row {
  padding: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1162px) {
  .offer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
  }
}

.offer__wrapper {
  background: #14ae64;
}

.offer__title {
  font-family: "SF UI Display Semibold";
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  margin-left: 60px;
  margin-bottom: 42px;
}

.list-offer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  font-family: "SF UI Display Medium";
  font-size: 20px;
}

.form-wrapper {
  -webkit-transform: translateX(-63px);
          transform: translateX(-63px);
  max-width: 670px;
  padding: 56px 130px;
  background-image: url(../img/Ellipse.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1300px) {
  .form-wrapper {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3d3d3d;
}

.form__title {
  font-family: "SF UI Display Medium";
  font-size: 32px;
  line-height: 120%;
  color: #3d3d3d;
  margin-bottom: 17px;
  text-align: center;
}

.form__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: #3d3d3d;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-top: 47px;
  width: 100%;
  margin-bottom: 29px;
}

.form__input {
  padding: 17px 20px;
  border: 2px solid #14ae64;
  border-radius: 58px;
  outline: none;
  font-size: 16px;
  line-height: 16px;
  color: #3d3d3d;
}

.form__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #3d3d3d;
  opacity: 0.5;
}

.form__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #3d3d3d;
  opacity: 0.5;
}

.form__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #3d3d3d;
  opacity: 0.5;
}

.form__input::placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #3d3d3d;
  opacity: 0.5;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.204545px;
  color: #3d3d3d;
  margin-bottom: 28px;
}

.form__label a {
  text-decoration: none;
  color: inherit;
}

.button {
  font-family: "SF UI Display Semibold";
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 61px;
  background: #14ae64;
  border: 2px solid #14ae64;
  border-radius: 58px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  cursor: pointer;
}

.footer {
  background: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer .map-site {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.204545px;
  color: #3d3d3d;
  text-decoration: none;
}

.footer .copy {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.204545px;
  color: #3d3d3d;
  text-align: center;
}

.footer .copy a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 877px) {
  .footer .copy {
    text-align: left;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 52px 0 33px;
}

@media (max-width: 877px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 20px;
  }
}

.footer__logo {
  max-width: 193px;
}

.footer__logo img {
  max-width: 100%;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 877px) {
  .social-footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.social-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 18px;
          column-gap: 18px;
  margin-top: 28px;
  margin-bottom: 33px;
}

.social-footer__link {
  display: block;
  width: 30px;
  height: 30px;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 13px;
  -ms-flex-preferred-size: 238px;
      flex-basis: 238px;
}

@media (max-width: 877px) {
  .contacts-footer {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.contacts-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 9px;
          column-gap: 9px;
  font-size: 16px;
  line-height: 19px;
  color: #3d3d3d;
}

.contact-footer__link {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=style.css.map */